/* CSS Document */

  body{
      marin: 0;
      padding: 0;
      font-size: 68%
      color: #666;
      font-family: sans-serif;
      }
  #email-container{
      max-width: 500px;
      margin: 20px auto;
      padding: 8px;
      background: #eee;
      text-align: center;
      border-radius: 5px;
      line-height: 1.5;
      }
 #email-content{
      background: #fff;
      padding: 14px;
      }
  h1{
      marin: 0;
      padding: 10px 0;
      font-size: 1.3rem;
      text-transform: uppercase;
      }
  img{
      max-width: 100%;
      }
  p{
      font-size: 0.9rem;
      text-aligh: left;
      }
  footer{
      border-top: 1px soild #eee;
      }
  a{
      text-decoration: none;
      display: inline-block;
      padding: 6px 10px;
      color: #666;
      }
  .call_to_action{
      background: #2980b9;
      color: #fff;
      margin:  0 0 25px 0;
      cursor: pointer;
      padding: 10px 15px;
     }
      
 