/* CSS Document */

.email-background{
	background: #eee;
	padding: 10px;	
}

.email-container{
	max-width: 500px;
	background: #fff;
	font-family: Sans-Serif;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 5px;
	text-align: center;	
}

img{
	max-width: 100%;
}

a{
	color: #3087fF5;
}

p{
	margin: 20px;
	font-size: 18px;
	font-weight: 300;
	color: #666;
	line-height: 1.5;
	
}

.cta{
	margin: 2px;
}
.cta a{
	text-decoration: none;
	display: inline-block;
	background: #72bcd4;
	color: #fff;
	padding: 10px 20px 15px;
	border-radius: 5px
}

.footer{
	background: none;
	padding: 20px;
	font-size: 10px;
	text-align: center;
}





















